.card {
    background-color: grey;
    min-height: 100px;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    display: none;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.card > input {
    width: 250px;
}
.active {
    display: flex;
}
.summary {
    justify-content: unset;
}
.summary-row {
    display: flex;
    gap: 10px;
}

.summary-description {
    flex-direction: column;
    word-break: break-all;
}
.wrongInput {
    border-color: red;
}
.wrongInput:focus {
    border-color: red;
}

.formGroup {
    width: 600px;
}
.bold {
    font-weight: bold;
}

.description > input {
    width: 500px;
}

.btnGroup {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}
.cursive {
    font-style: italic;
    color: rgb(245, 245, 245);
    /* letter-spacing: 1mm; */
    margin-left: 10px;
}

/* question create section */
.questionSection {
    display: flex;
    gap: 0.2rem;
}
.questionCreate {
    display: flex;
    flex-direction: column;
}

.questionBody {
    text-align: center;
}
.test {
    min-height: 25px;
}
.typeCode {
    display: flex;
    justify-content: center;
}
