.card {
    background-color: grey;
    height: 100px;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}
.card > input {
    width: 250px;
}
.description > input {
    width: 500px;
}

.btnGroup {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}
.cursive {
    font-style: italic;
    color: rgb(245, 245, 245);
    /* letter-spacing: 1mm; */
    margin-left: 10px;
}
