.homePage > * {
    /* border: 0.1px solid white; */
}

.homePage {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    gap: 1rem;
}
.homeBlock {
    padding: 1rem;
    background-color: #252629;
    border-radius: 1rem;
}
.header {
    margin: 0.5rem;
}
.headerAll {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}
.userBottom {
    font-size: 1rem;
}
.name {
    font-size: 1rem;
}

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: left;
}

.homeCard {
    padding: 1rem;
    border-radius: 0.5rem;
    height: 300px;
    word-wrap: break-word;
    border: 1px solid white;
    background-color: #323335;
    width: 300px;
}
.linkEffect {
    box-shadow: inset 0 0 0 0 #5a5f61;
    color: #bcbebe;
    margin: 0 -0.25rem;
    padding: 0 0.25rem;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.linkEffect:hover {
    box-shadow: inset 250px 0 0 0 #7f8385;
    color: white;
}

.sortOptions {
    display: flex;
    gap: 1rem;
}
