/* button styling */
.option-btn {
    height: 50px;
    /* width: 150px; */
    font-family: monospace;
    border: none;
    padding: 1rem;
    margin: 0.5rem;
    background-color: #282c34;
    border-radius: 0.5rem;
    color: white;
}

.defaultOption:hover {
    background-color: #20242b;
    cursor: pointer;
}
.option-btn:hover {
    cursor: pointer;
}
.answerGiven {
    background-color: orange;
}
.correct {
    background-color: green;
}
.incorrect {
    background-color: red;
}

/* timer styling */
.timer {
    width: 0%;
    height: 20px;
    background: rgba(2, 42, 224, 0.3);
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0.5rem;
}

.timerActive {
    animation: runProgress 5s linear forwards 0.5s;
}

@keyframes runProgress {
    0% {
        width: 100%;
        background: rgba(2, 42, 224, 0.3);
    }
    100% {
        width: 0%;
        background: rgba(2, 42, 224, 1);
    }
}

/* style that is being applied to code container */
.osx {
    /* width: 500px; */
    /* height: 200px; */
    /* border: 1px solid black; */
    font-family: monospace;
}
